html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-touch-callout: none
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; // 字体抗锯齿渲染
  -moz-osx-font-smoothing: grayscale; // 字体抗锯齿渲染
}
