// font-color
@font-color-main: #303133;
@font-color-base: #606266;
@font-color-second: #909399;
@font-color-last: #C0C4CC;
// font-size
@font-size-large-title: 24px;
@font-size-main-title: 20px;
@font-size-base-title: 18px;
@font-size-min-title: 16px;
@font-size-base-text: 14px;
@font-size-min-text: 13px;
@font-size-last-text: 12px;
// background-color
@background-black-blue: #000c17; // 黑蓝
@background-deep-blue: #001529; // 深蓝
@background-dark-blue: #002140; // 藏青
@background-blue: #1890ff; // 明亮蓝
@background-gray: #f0f2f5;
// color
@tender-green: #42b983;
